# Excel workbooks
*.xlsx

# Word documents
*.docx

# INI config files
config.ini

# .twbr files
*.twbr

# .twb files
*.twb

# .twbx files
*.twbx

# Bytecode caches
**/__pycache__/

# Log files
*.log
logs/
